<% if (post) { %>
  <h1>Post Details</h1>
  <p><strong>Name:</strong> <%= post.name %></p>
  <p><strong>Author:</strong> <%= post.username %></p>
  <p><strong>Author ID:</strong> <%= post.accountId %></p>
  <p><strong>Description:</strong> <%= post.description %></p>
  <p><strong>Rating:</strong> <%= post.rating %></p>

  <% if (post.imageUrl) { %>
      <p><strong>Post Image:</strong></p>
      <img src="<%= post.imageUrl %>" alt="Post Image" width="200">
  <% } else { %>
      <p>No image available</p>
  <% } %>

  <!-- Check if the current user is the author of the post -->
  <% if (post.accountId === accountId) { %>
    <br />
    <a href="/view/<%= post.name %>?action=edit"><button>Edit Post</button></a>
  <% } %>
  
  <br />
  <a href="/">Back to Post List</a>
<% } else { %>
  <h1>Post Not Found</h1>
  <a href="/">Back to Post List</a>
<% } %>
